rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para la colección 'albums' (Permite lectura y escritura a usuarios autenticados)
    match /albums/{albumId} {
      allow read, write: if request.auth != null;
    }
    
    // Reglas para la colección 'tickets' (Permite lectura y escritura a usuarios autenticados)
    match /tickets/{ticketId} {
      allow read, write: if request.auth != null;
    }
    
  }
}
